{% extends "base.html" %}

{% block 'content' %}
<div class="container">
    <h1 class="text-center mb-5">OnlyFlans - El Paraíso del Flan</h1>

    <section class="mb-5">
        <h2 class="mb-3">Nosotros</h2>
        <p class="lead">
            OnlyFlans nació del amor por los postres y la tradición familiar. Desde pequeñas reuniones hasta grandes 
            celebraciones, el flan siempre ha sido el protagonista en nuestras mesas. Decidimos compartir esa pasión 
            y dedicación con el mundo, ofreciendo una gama de flanes que deleitan a todos los paladares.
        </p>
    </section>
   
</div>
{% endblock %}